body{
    margin: 0;
    background-color: black;
}

.landing-page{
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

/* Add a class for opacity on landing page that triggers on hover javascript */



.pararosetta-company{
    font-family: sans-serif;
    font-size: 60px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    animation: slide-down 3s linear;
    animation-fill-mode: forwards;
    
}


@keyframes slide-down {
    0%{
        position: absolute;
        transform: translateY(-400px);
        color: black;
        background-color: white;
    }
    100%{
        position: absolute;
        transform: translate(-170px, -210px);
        color: white;
        background-color: black;
        font-size: 162px;
    }
}

.paracord-badass{
    font-family: sans-serif;
    display: flex;
    height: 130px;
    width: 500px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    animation: slide-up 3s linear;
    animation-fill-mode: forwards;
    
}



@keyframes slide-up {
    0%{
        position: absolute;
        transform: translate(-200px, 400px);
        color: black;
        background-color: white;
    }
    100%{
        position: absolute;
        transform: translate(-300px, 0px);
        color: black;
        background-color: white;
        font-size: 122px;
    }
}

.paracord-hardcore{
    font-family: sans-serif;
    display: flex;
    height: 200px;
    justify-content: center;
    font-weight: 600;
    animation: slide-left 3s linear;
    animation-fill-mode: forwards;
    align-items: center;
}



@keyframes slide-left {
    0%{
        transform: translate(-200px, 400px);
        color: black;
        background-color: white;
    }
    100%{
        transform: translate(300px, 180px);
        color: white;
        background-color: black;
        font-size: 132px;
    }
}
